@font-face {
  src: url(./docs/assets/fonts/Solaris.ttf);
  font-family: sol;
}
body {
  background-color: #b3cdd1;
}
#section-1 {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
}

h1 {
  /*border: 1px solid purple;*/
  margin-left: 380px;
  font-family: sol;
  font-size: 70px;
}

canvas {
  margin-left: 200px;
  margin-right: 40px;
  font-family: "Chakra Petch", sans-serif;
  border-radius: 10px;
}

.game-box {
  /*border: 1px solid salmon;*/
  display: flex;
  flex-direction: row;
}
.info-box {
  /*border: 1px solid blue;*/
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 20px;
}
#instructions {
  font-size: 15px;
}
p {
  font-family: "Chakra Petch", sans-serif;
}
