@font-face {
  src: url(./docs/assets/fonts/Solaris.ttf);
  font-family: sol;
}
body {
  /* background-color: #b3cdd1; */
  background-image: url(/docs/assets/img/background-space_07.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}
/*not working - making background more tansparent*/
.overlay {
  background: #00000056;
  width: 100%;
  position: absolute;
}
#section-1 {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
}

h1 {
  /*border: 1px solid purple;*/
  margin-left: 315px;
  font-family: sol;
  font-size: 70px;
  padding-top: -20px; /*not working*/
  color: #6c464f;
}

canvas {
  margin-left: 200px;
  margin-right: 40px;
  font-family: "Chakra Petch", sans-serif;
  border-radius: 10px;
}
#canvas {
  box-shadow: 10px, 5px 5px black;
}
.game-box {
  /*border: 1px solid salmon;*/
  display: flex;
  flex-direction: row;
}
.info-box {
  /*border: 1px solid blue;*/
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 20px;
}
#instructions {
  font-size: 15px;
}
p {
  font-family: "Chakra Petch", sans-serif;
  color: "white";
}
